@tailwind base;
@tailwind components;

h2 {
    @apply font-semibold text-gray-900 text-xl mt-8 mb-6;
}
h3 {
    @apply text-lg mb-4;
}
.prose code {
    @apply inline-block px-2 my-0.5 bg-black text-gray-100 rounded font-normal;
}
.prose code:before, .prose code:after {
    display: none;
}
code.red {
    @apply text-red;
}

.terminal {
    @apply relative mb-4 p-8 rounded-xl bg-black text-gray-50 font-mono text-sm xl:text-xs 2xl:text-sm shadow-lg;
}
.v2:before {
    content: "v2";
    @apply absolute top-0 right-0 text-gray text-xs mt-2 mr-3;
}
.v3:before {
    content: "v3";
    @apply absolute top-0 right-0 text-gray text-xs mt-2 mr-3;
}

@tailwind utilities;
