@tailwind base;
@tailwind components;

h2 {
    @apply text-xl mt-8 mb-8;
}
.terminal {
    @apply mb-4 p-8 rounded-xl bg-black text-gray-50 font-mono text-sm xl:text-xs 2xl:text-sm shadow-lg;
}

@tailwind utilities;
